<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Job</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>mark@gmail.com</td>
      <td>Student</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Mohsen</td>
      <td>mohsen@hotmail.com</td>
      <td>Lawyer</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>nada</td>
      <td>nada@yahoo.fr</td>
      <td>Athlete</td>
    </tr>
  </tbody>
</table>